<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viniciusnaka.marketintegration" >

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <permission android:name="com.viniciusnaka.marketintegration.permission.MAPS_RECEIVE"
                android:protectionLevel="signature"></permission>
    <uses-permission android:name="com.viniciusnaka.marketintegration.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.viniciusnaka.marketintegration.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.viniciusnaka.marketintegration.ProductActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.viniciusnaka.marketintegration.CartActivity" />
        <activity
            android:name="com.viniciusnaka.marketintegration.ProductCrudActivity"
            android:label="@string/title_activity_product_crud" />
        <activity
            android:name="com.viniciusnaka.marketintegration.CartListActivity"
            android:label="@string/title_activity_cart_list" >
        </activity>
        <activity
            android:name="com.viniciusnaka.marketintegration.ProductsCartActivity"
            android:label="@string/title_activity_products_cart" >
        </activity>
        <activity
            android:name="com.viniciusnaka.marketintegration.UserActivity"
            android:label="@string/title_activity_user_list" >
        </activity>
        <activity
            android:name="com.viniciusnaka.marketintegration.UserCrudActivity"
            android:label="@string/title_activity_user_crud"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.viniciusnaka.marketintegration.UserMapsActivity"
            android:label="@string/title_activity_user_maps" >
        </activity>
<!--
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"/>-->
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
                   android:value="AIzaSyAABKNHN001O-ewQDIlRYMRYep1d-pq0ow"/>

    </application>

</manifest>
